body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-family: "Poppins", sans-serif;
    color: white;
}

.game-header {
    width: 100%;
    height: 100px;
    background-color: orange;
    display: flex;
    align-items: flex-start; 
    justify-content: center; 

}

.game-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px); 
    overflow: hidden;
    background-color: #111;
  }
.code-block {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background-color: #facc15;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  }